@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Usuarios";
}

<h2>Lista de Usuarios</h2>
<a asp-action="Crear" class="btn btn-primary">Nuevo Usuario</a>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Nombre de Usuario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Email</td>
                <td>@usuario.UserName</td>

                <td>
                    <a asp-action="Editar" asp-route-id="@usuario.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Eliminar" asp-route-id="@usuario.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>